body {
    background-color: #111111;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-color: #111111;
    border-bottom: 2px solid #FFE81F;
}

section 
#introduccion {
    background-color: rgb(0, 0, 0);
}

#imperio {
    background-color: rgb(87, 3, 3);
}

#rebeldes {
    background-color: rgba(89, 233, 60, 0.637);
}

ul {
    list-style-type: none;  
}

.malo {
    border: 2px solid rgba(46, 3, 3, 0.74);
    margin: 20px 0;
    background: rgb(34, 6, 6);
}
.bueno {
    border: 2px solid rgba(6, 69, 99, 0.74);
    margin: 20px 0;
    background: rgb(137, 196, 130);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.2em;
    margin: 10px 0;
}

#ola { 
    display:block;
    width: 50px;
    background-color: rgba(255, 30, 0, 0.534);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 15px 30px;
    margin: 50px 130px;
    color: white;
    text-decoration: none;
}

#chau{ 
    display:block;
    width: 50px;
    background-color: rgba(0, 0, 255, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    padding: 15px 30px;
    margin: -152px 1200px;
    color: white;
    text-decoration: none;
}

#vader {
    font-size: 1.5em;
  }

#ElGoat {
    font-style: italic;
  }

.soldados {
    border: 2px dashed #FFFFFF;
    letter-spacing: 2px;
  }

.apoyo {
    text-align: center;
  }

.nave {
    text-transform: uppercase;
  }

.droide {
    display: flex;
    justify-content: center;
  }
  
  .droide img {
    margin: 0
 }

@font-face {
    font-family: 'ci';
    src: url('<link href="https://fonts.cdnfonts.com/css/phudu" rel="stylesheet">');
    font-weight: normal;
    font-style: normal;
  }