body {
    background-color: rgb(199, 243, 233);
    text-align: center;
    color:rgb(0, 0, 0)
}

.opciones {
    background-color: #266ab8;
            border: none;
            color: white;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display:flexbox;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
            box-shadow: 0 4px #7bc0f8;
        }
.texto {
    display: flexbox;
    padding: 15px 30px;
    background-color: whitesmoke;
    margin: 4px 2px;
    border-radius: 40px;
    background-image: url('https://i.pinimg.com/originals/cc/bf/95/ccbf95d437f831715765bd11c2b1fff6.gif');
    
}
